body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#container {
  width: 100%;
  margin: 0 auto;
  background: white;
}

#messages {
  width: 95%;
  max-width: 80%;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #eee;
  box-shadow: 0 0 20px #ccc inset;
  margin: 0 auto;
}

.message {
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #eee;
  /* background: rgb(116, 197, 147); */
  /* background: linear-gradient(to left, rgb(119, 0, 255), rgb(0, 238, 255)); */
  background-color: #eee;
  color: #333;
  font-weight: bold;
  box-shadow: 2px 2px 2px #000000;
}

#text,
#nickname {
  border-radius: 5px;
  border: 2px solid rgb(173, 172, 172);
}

#send_btn {
  background: #333;
  color: #eee;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 80px;
  font-weight: bold;
}

#send_btn:hover {
  background: #eee;
  color: #000000;
  font-weight: bold;
}
